.NavBar {
  background-color: #68688e;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid rgb(109, 92, 121) 88e 3px;
  width: 100%;
}

.surreal-title {
  align-self: center;
  font-family: "Comfortaa", sans-serif;
  position: relative;
  top: 0.5em;
}

.srlogo {
  align-self: center;
  padding: 0.5em;
  width: 3%;
}

.navbar-links {
  align-self: center;
}

.navbar-links-item {
  display: inline-block;
  font-size: 1.2em;
  margin: 0;
  padding-left: 3em;
}

a {
  color: #fff;
  text-decoration: none;
}

.facebook-login {
  background: #1552cd;
  margin: 0;
}

.facebook-login:hover {
  animation: facebooklogin 1s forwards;
}

.facebook-photo {
  border-radius: 50%;
  margin-left: 1em;
  position: absolute;
  width: 3%;
}

@keyframes facebooklogin {
  from {
    background: #1552cd;
  }
  to {
    background: #4267b2;
  }
}
